@import "../../../styles/modules/variables"
@import "../../../styles/modules/tipography"

body
  display: grid
  height: 100vh
  margin: 0
  grid-template-rows: auto auto auto
  font-family: Lato

header
  display: grid
  grid-template-rows: 95%
  grid-template-columns: 10% 40% 40% 10%
  width: 100%
  height: 100vh
  background: url('../../../assets/images/pope.png') center center no-repeat
  background-size: cover
  article
    padding: 2rem
main 
  padding-top: 3rem
  .info-banner
    display: grid
    grid-template-columns: 10% 80% 10%
    .article-info-banner
      padding: 1rem
      background: $color-gray
      display: grid
      place-items: center
      grid-template-columns: 20% 70% 10%
  .votes-container
    display: grid
    grid-template-columns: 10% 80% 10%
    .cards-container
      display: grid
      grid-gap: 1rem
      grid-template-columns: auto auto
      > div 
          background: red
          width: 39vw
          height: 62vh

nav
  position: fixed
  display: grid
  grid-template-columns: 10% 40% 40% 10%
  align-items: center
  text-align: center
  width: 100%
  background-color: transparent !important
  background-image: linear-gradient(to top, rgb(251 234 234 / 1%), rgba(0, 0, 0, 0.6))
  color: $color-white
  z-index: 1
  > a 
    cursor: pointer
    &:hover
      opacity: 0.6
footer
  padding-top: 2rem
  .new-name
    display: flex
    flex-direction: row
    padding: 1rem
    align-items: center
    color: $color-dark-100
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../../../assets/images/footer1.png') center center no-repeat
    background-size: cover
    button
      font-size: 24px
      background: transparent
      border: 1px solid $color-dark-100
      padding: 0.5rem
      cursor: pointer
      &:hover
        background: $color-white
        opacity: 0.9
  .final-footer
    display: flex
    flex-direction: row
    margin-top: 3rem
.item 
    display: flex
    gap: 1rem
    > label
        cursor: pointer
.divider 
    display: flex
    flex: 1

.grid-footer
  display: grid
  grid-template-rows: 100px
  grid-template-columns: 10% 80% 10%

.square-info
  backdrop-filter: blur(10px)
  background-color: rgb(169 164 164 / 50%)
  display: grid
  grid-template-rows: 85% 15%
  width: 100%

.footer-square-info
  display: grid
  grid-template-columns: 50% 50% 

.thumb 
  display: grid
  place-items: center
  cursor: pointer
  button
    background: transparent
    border: 0
.up
  background: $color-green
.down
  background: $color-orange  

.text-square-info
  color: $color-white
  padding: 1rem
  overflow: auto

.footer-closing
  background: $color-dark-40
  opacity: 0.8
.footer-closing-desc
  background: $color-white
  opacity: 0.6

.closing-comment
  display: grid
  grid-template-columns: 50% 50%
  .block-1
    text-align: right
    padding-right:  1rem
    color: $color-white
  .block-2
    display: flex
    gap: 5px
    padding-left: 1rem 

.menu-ham-button
  display: none
  width: 50px
  border: 0
  background: transparent

.links-group
  display: block
  > a
      cursor: pointer
.tp-button
  background: transparent
  border: 0  

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) 
  header
    height: 70vh
    .square-info
      width: 170%
    .big-title
      font-size: 36pt
  nav  
    .menu-ham-button
      display: block!important
    .links-group
      display: none
    .title-nav
      font-size: 6vw
  main
    .info-banner
      .article-info-banner
        display: flex
        flex-wrap: wrap  
    .votes-container
      .cards-container
        grid-template-columns: auto
        > div 
            width: 100%
            

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 

 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
 

.has-text-left
  text-align: left
.links-group
  display: grid
  grid-template-columns: 25% 25% 25% 25%
.grid-info-square
  display: grid
  grid-template-rows: 20% 70% 10%
.is-flex
  display: flex

